{% extends "base.html" %}
{% block content %}
        <div id="content" role="main">
            <div class="mb10"></div><!-- space -->

            <div class="container">
                <br>
                <br>
                <h2 class="title-border title-bg-line gray text-center mb60"><span>Почему стоит выбрать Xiaomi ?</span></h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon first-color"><i class="icon-umbrella"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">ВЫСОКОЕ КАЧЕСТВО</h3>

                                <p>Высокое качество товаров компании Xiaomi зарекомендовало себя по всему миру в разных странах.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg  custom2 text-center service-box">

                            <span class="service-icon third-color"><i class="icon-anchor"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">НА БАЗЕ ОС ANDROID</h3>

                                <p>В качестве базовой оболочки в устройствах компании Xiaomi используется операционная система Android, дающая полную свободу действий.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg  dark text-center service-box">

                            <span class="service-icon"><i class="icon-doc"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">НАЧАТЬ С ЧИСТОГО ЛИСТА</h3>

                                <p>Как только вы станете обладателем Xiaomi, вы начнёте с чистого листа. Такого раньше у вас не было.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon first-color"><i class="icon-like"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">ВСЁ ЧТО ВАМ НУЖНО.</h3>

                                <p>Всё, что вам когда-либо было нужно, всё чего вы когда-либо хотели, но не могли им воспользоваться, всё это можно получить, всем этим можно пользоваться в xiaomi.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg  custom2 text-center service-box">

                            <span class="service-icon third-color"><i class="icon-share"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">ВЫСОКАЯ ПРОИЗВОДИТЕЛЬНОСТЬ</h3>

                                <p>В продукции компании Xiaomi используется передовые тыхнологии. Мощнейшие процессоры и сверхпроизводительные чипсеты. И всё это за самую низкую стоимость по сравнению с конкурентами.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="service vertical service-hover-bg  dark text-center service-box">

                            <span class="service-icon"><i class="icon-pie-chart"></i></span>
                            <div class="service-content">
                                <h3 class="service-title title-underblock custom text-uppercase text-center">БОЛЬШОЙ ВЫБОР</h3>

                                <p>Действительно огромный выбор. Каждый сможет подобрать под себя то, что ему действительно подойдёт.</p>
                            </div><!-- End .service-content -->
                            
                        </div><!-- End .service -->
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb55 mb40-sm"></div><!-- space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb20 visible-md visible-lg"></div>
                        <img src="{{ url_for ('static', filename='images/about1.png')}}" alt="Service" class="img-responsive center-block wow fadeInUp mb30">
                    </div><!-- End .col-md-5 -->
                    <div class="col-md-7">
                        <h2 class="title-border title-bg-line gray mb40"><span>Мы хотим, чтобы вы стали «постоянными»!</span></h2>
                        <p>"Xia_mi" привык радовать своих клиентов, создавая уют и сервис для вас и делая любую покупку приятной. Стильный дизайн магазина, низкие цены и приветливый персонал - всё это как нельзя лучше отражает политику работы нашего магазина. Мы стремимся сократить время, которое вы тратите на поиск и покупку полюбившейся техники, создавая вокруг вас сервис.</p>
                        <p> Мы всегда стараемся учесть все пожелания и быть максимально близки к вам. Наш магазин дает понять своими низкими ценами, что вы не переплачиваете — это и есть сервис.</p>
                    </div><!-- End .col-md-7 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb80 mb40-sm"></div><!-- space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="mb20 visible-md visible-lg"></div>
                        <img src="{{ url_for ('static', filename='images/about2.png')}}" alt="Service" class="img-responsive center-block wow fadeInUp mb30">
                    </div><!-- End .col-md-5 -->
                    <div class="col-md-7 col-md-pull-5">
                        <h2 class="title-border title-bg-line gray mb40"><span>Уверенность в выборе</span></h2>
                        <p>Уверенность в гарантии на товар и максимально короткие сроки исполнения гарантийных обязательств дают дополнительный стимул для покупки в "Xia_mi". Мы всегда опережаем сроки обслуживания по гарантии от заявленных в законодательстве РФ в несколько раз за счет собственного сервисного центра. </p>
                        <p>Для нас очень важно возвращение вас или ваших друзей за следующей покупкой именно к нам.</p>
                    </div><!-- End .col-md-7 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb80 mb40-sm"></div><!-- space -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb20 visible-md visible-lg"></div>
                        <img src="{{ url_for ('static', filename='images/about3.png')}}" alt="Service" class="img-responsive center-block wow fadeInUp mb30">
                    </div><!-- End .col-md-5 -->
                    <div class="col-md-7">
                        <h2 class="title-border title-bg-line gray mb40"><span>Держим своё слово!</span></h2>
                        <p>Мы исполнительны и держим обещания. Нам можно доверять и на нас можно положиться. С нами нужно работать! Мы понимаем всю ответственность при работе с операциями по безналичному расчету.</p>
                        <p>Со своей стороны мы также требовательны к оформлению и ведению документов. Никакой «творческой» работы по безналу. Только то, что граничит с законодательством РФ!</p>
                    </div><!-- End .col-md-7 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End #content -->
{% endblock %}