{% extends "base.html" %}
{% block content %}
        <br>
        <div id="content" role="main">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="checkout">
                            <div class="panel-group" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h2 class="panel-title">
                                            <a data-toggle="collapse" href="basket.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Checkout Method
                                                <span class="panel-icon"></span>
                                            </a>
                                            <span class="step-box">1.</span>
                                        </h2>
                                    </div><!-- End .panel-heading -->
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="row">
                                               <div class="col-md-6">
                                                   <h3 class="title-border custom mb30">Checkout as a Guest or Register</h3>
                                                   <p>Lorem ipsum dolor amet, conse adipiscing, eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sapiente.</p>
                                                   <form action="#">

                                                        <div class="form-group">
                                                            <div class="radio">
                                                                <label class="custom-radio-wrapper">
                                                                    <span class="custom-radio-container">
                                                                    <input type="radio" name="login" value="guesta">
                                                                    <span class="custom-radio-icon"></span>
                                                                    </span>
                                                                    <span>Checkout as Guest</span>
                                                                </label>
                                                            </div><!-- End .radio -->
                                                            <div class="radio">
                                                                <label class="custom-radio-wrapper">
                                                                    <span class="custom-radio-container">
                                                                    <input type="radio" checked name="login" value="register">
                                                                    <span class="custom-radio-icon"></span>
                                                                    </span>
                                                                    <span>Register</span>
                                                                </label>
                                                            </div><!-- End .radio -->
                                                        </div><!-- End .form-group -->

                                                        <div class="form-group">
                                                            <input type="submit" class="btn btn-custom3 min-width-sm" value="Continue">
                                                        </div><!-- End .form-group -->
                                                   </form>
                                               </div><!-- End .col-md-6 -->

                                               <div class="mb30 clearfix visible-xs visible-sm"></div><!--space-->

                                               <div class="col-md-6">
                                                   <h3 class="title-border custom mb30">Registered Customers</h3>
                                                   <p>Lorem ipsum dolor amet, conse adipiscing, eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                                   <form action="#">
                                                        <div class="form-group">
                                                            <label for="email" class="input-desc">Email Address</label>
                                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
                                                        </div><!-- End .from-group -->
                                                        <div class="form-group">
                                                            <label for="password" class="input-desc">Password</label>
                                                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                                        </div><!-- End .from-group -->
                                                        <div class="mb5"></div><!-- space -->
                                                        <div class="form-group mb10">
                                                            <input type="submit" class="btn btn-custom2 min-width-sm" value="Login Page">
                                                            <a href="basket.html#" class="helper-link">Forgot your password?</a>
                                                        </div><!-- End .from-group -->
                                                    </form>
                                               </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .panel-body -->
                                    </div><!-- End .panel-collapse -->
                                </div><!-- End .panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h2 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" href="basket.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Billing Information
                                            <span class="panel-icon"></span>
                                            </a>
                                            <span class="step-box">2.</span>
                                        </h2>
                                    </div><!-- End .panel-heading -->
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">

                                            <form action="#">

                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <h3 class="title-border custom mb30">Your Informations</h3>
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-user"></span><span class="input-text">First Name</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your First Name">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-user"></span><span class="input-text">Last Name</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your Last Lame">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-email"></span><span class="input-text">Email</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your Email">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-phone"></span><span class="input-text">Telephone</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your Telephone">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-fax"></span><span class="input-text">Fax</span></span>
                                                            <input type="text" class="form-control" placeholder="Your Fax">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-company"></span><span class="input-text">Company</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your Company">
                                                        </div><!-- End .input-group -->

                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-password"></span><span class="input-text">Password</span></span>
                                                            <input type="password" required class="form-control" placeholder="Your Password">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-password"></span><span class="input-text">Password</span></span>
                                                            <input type="password" required class="form-control" placeholder="Your Password">
                                                        </div><!-- End .input-group -->

                                                    </div><!-- End .col-md-6 -->

                                                    <div class="mb30 visible-xs visible-sm"></div><!-- space -->

                                                    <div class="col-md-6">
                                                        <h3 class="title-border custom mb30">Your Address</h3>

                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-address"></span><span class="input-text">Address 1</span></span>
                                                            <input type="text" class="form-control" placeholder="Your Address">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-city"></span><span class="input-text">City</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your City">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-postcode"></span><span class="input-text">Post Code</span></span>
                                                            <input type="text" required class="form-control" placeholder="Your Post Code">
                                                        </div><!-- End .input-group -->
                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-country"></span><span class="input-text">Country*</span></span>
                                                            <div class="clearfix">
                                                                <select id="country" name="country" class="form-control">
                                                                    <option  value="United Kingdom">United Kingdom</option>
                                                                    <option  value="Brazil">Brazil</option>
                                                                    <option  value="France">France</option>
                                                                    <option  value="Italy">Italy</option>
                                                                    <option  value="Spain">Spain</option>
                                                                </select>
                                                            </div><!-- End .large-selectbox-->
                                                        </div><!-- End .input-group -->

                                                        <div class="input-group">
                                                            <span class="input-group-addon min-width"><span class="input-icon input-icon-region"></span><span class="input-text">Region / State</span></span>
                                                            <div class="clearfix">
                                                                <select id="state" name="state" class="form-control">
                                                                    <option  value="California">California</option>
                                                                    <option  value="Texas">Texas</option>
                                                                    <option  value="NewYork">NewYork</option>
                                                                    <option  value="Narnia">Narnia</option>
                                                                    <option  value="Jumanji">Jumanji</option>
                                                                </select>
                                                            </div><!-- End .large-selectbox-->
                                                        </div><!-- End .input-group -->

                                                        <div class="checkbox input-group">
                                                          <label class="custom-checkbox-wrapper">
                                                            <span class="custom-checkbox-container">
                                                                <input type="checkbox" name="shipadd" value="jeans">
                                                                <span class="custom-checkbox-icon"></span>
                                                            </span>
                                                           I want to use my old address for this shipping
                                                          </label>
                                                        </div><!-- End .checkbox -->

                                                        <div class="checkbox input-group">
                                                          <label class="custom-checkbox-wrapper">
                                                            <span class="custom-checkbox-container">
                                                                <input type="checkbox" name="newslttt" value="jeans">
                                                                <span class="custom-checkbox-icon"></span>
                                                            </span>
                                                           I have wish to subscribe Boss's weekly newsletter.
                                                          </label>
                                                        </div><!-- End .checkbox -->

                                                        <div class="checkbox input-group">
                                                          <label class="custom-checkbox-wrapper">
                                                            <span class="custom-checkbox-container">
                                                                <input type="checkbox" name="jeans" value="jeans" checked>
                                                                <span class="custom-checkbox-icon"></span>
                                                            </span>
                                                           I have reed and agree to the <a href="basket.html#">Privacy Policy</a>.
                                                          </label>
                                                        </div><!-- End .checkbox -->

                                                        <input type="submit" class="btn btn-custom" value="Confirm and Continue">
                                                    </div><!-- End .col-md-6 -->
                                                </div><!-- End .row -->
                                            </form>

                                        </div><!-- End .panel-body -->
                                    </div><!-- End .panel-collapse -->
                                </div><!-- End .panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h2 class="panel-title">
                                            <a data-toggle="collapse" href="basket.html#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                CONFIRM ORDER
                                                <span class="panel-icon"></span>
                                            </a>
                                            <span class="step-box">5.</span>
                                        </h2>
                                    </div><!-- End .panel-heading -->
                                <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table cart-table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Unit Price</th>
                                                        <th>Quantity</th>
                                                        <th>Subtotal</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="product clearfix">
                                                                <div class="product-top">
                                                                    <figure>
                                                                        <a href="product.html" title="Product Name">
                                                                            <img src="{{ url_for ('static', filename='images/products/product3.jpg')}}" alt="Product image" class="product-image">
                                                                            <img src="{{ url_for ('static', filename='images/products/product3-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                                                        </a>
                                                                    </figure>
                                                                </div><!-- End .product-top -->
                                                                <div class="product-meta">

                                                                    <h2 class="product-title"><a href="product.html" title="Casual Fashion Party Dress">Casual Fashion Party Dress</a></h2>
                                                                    <div class="ratings-container">
                                                                        <a href="basket.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                                                            <span class="ratings" style="width:75%" >
                                                                                <span class="ratings-text sr-only">81 Rating</span>
                                                                            </span><!-- End .ratings -->
                                                                        </a><!-- End .product-ratings -->
                                                                    </div><!-- End .ratings-container -->
                                                                    <ul class="product-desc-list">
                                                                        <li>Large / Dark Gray Leather</li>
                                                                        <li>Woman Jacket</li>
                                                                    </ul>
                                                                </div><!-- End .product-meta -->
                                                            </div><!-- End .product -->
                                                        </td>
                                                        <td class="price-col">
                                                            $12.00
                                                        </td>
                                                        <td class="quantity-col">
                                                            <div class="product-quantity">
                                                                <input type="text" value="8" class="horizontal-spinner">
                                                            </div><!-- End .product-quantity -->
                                                        </td>
                                                        <td class="price-total-col">
                                                            $96.00
                                                        </td>
                                                        <td><a href="basket.html#" class="btn btn-dark btn-sm btn-delete" title="Delete product"><i class="fa fa-times"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="product clearfix">
                                                                <div class="product-top">
                                                                    <figure>
                                                                        <a href="product.html" title="Product Name">
                                                                            <img src="{{ url_for ('static', filename='images/products/product4.jpg')}}" alt="Product image" class="product-image">
                                                                            <img src="{{ url_for ('static', filename='images/products/product4-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                                                        </a>
                                                                    </figure>
                                                                </div><!-- End .product-top -->
                                                                <div class="product-meta">

                                                                    <h2 class="product-title"><a href="product.html" title="Casual Fashion Party Dress">Casual Fashion Party Dress</a></h2>
                                                                    <div class="ratings-container">
                                                                        <a href="basket.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                                                            <span class="ratings" style="width:75%" >
                                                                                <span class="ratings-text sr-only">81 Rating</span>
                                                                            </span><!-- End .ratings -->
                                                                        </a><!-- End .product-ratings -->
                                                                    </div><!-- End .ratings-container -->
                                                                    <ul class="product-desc-list">
                                                                        <li>Medium / Darker Black Leather</li>
                                                                        <li>Woman Jacket</li>
                                                                    </ul>
                                                                </div><!-- End .product-meta -->
                                                            </div><!-- End .product -->
                                                        </td>
                                                        <td class="price-col">
                                                            $50.00
                                                        </td>
                                                        <td class="quantity-col">
                                                            <div class="product-quantity">
                                                                <input type="text" value="15" class="horizontal-spinner">
                                                            </div><!-- End .product-quantity -->
                                                        </td>
                                                        <td class="price-total-col">
                                                            $750.00
                                                        </td>
                                                        <td><a href="basket.html#" class="btn btn-dark btn-sm btn-delete" title="Delete product"><i class="fa fa-times"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-info-title" colspan="4">Subtotal:</td>
                                                        <td class="table-info-content">$399.44</td>
                                                    </tr>
                                                    <tr>

                                                        <td class="table-info-title" colspan="4">Shipping:</td>
                                                        <td class="table-info-content">$6.00</td>
                                                    </tr>
                                                    <tr>

                                                        <td class="table-info-title" colspan="4">Tax(0%):</td>
                                                        <td class="table-info-content">$0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-info-title table-total-title" colspan="4"><strong>TOTAL:</strong></td>
                                                        <td class="table-info-content table-total-content"><strong>$434.50</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- End .table-responsive -->

                                        <div class="mb30"></div><!-- space -->
                                        <div class="text-right">
                                            <input type="submit" class="btn btn-dark" value="CONFIRM ORDER">
                                        </div>
                                    </div><!-- End .panel-body -->
                                </div><!-- End .panel-collapse -->
                                </div><!-- End .panel -->
                            </div><!-- End .panel-group -->
                        </div><!-- End .checkout -->

                    </div><!-- End .col-md-12 -->

                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb25"></div><!-- space -->

        </div><!-- End #content -->
{% endblock %}