{% extends "base.html" %}
{% block content %}
<br>
        <div id="content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="product-gallery-container">
                            <div class="product-top">
                                <img id="product-zoom" src="{{ url_for ('image', filename=item.img1_1)}}" alt="Product image big"/>
                            </div><!-- End .product-top -->

                            <div class="product-gallery-wrapper">
                                <div class="owl-carousel product-gallery product-gallery-lg">
                                    <a href="product.html#" data-image="{{ url_for ('image', filename=item.img1_1)}}" data-zoom-image="{{ url_for ('image', filename=item.img1_1)}}" class="product-gallery-item">
                                        <img src="{{ url_for ('image', filename=item.img1_1)}}" alt="product-small-1">
                                    </a>
                                    <a href="product.html#" data-image="{{ url_for ('image', filename=item.img1_2)}}" data-zoom-image="{{ url_for ('image', filename=item.img1_2)}}" class="product-gallery-item">
                                        <img src="{{ url_for ('image', filename=item.img1_2)}}" alt="product-small-2">
                                    </a>
                                    <a href="product.html#" data-image="{{ url_for ('image', filename=item.img1_3)}}" data-zoom-image="{{ url_for ('image', filename=item.img1_3)}}" class="product-gallery-item">
                                        <img src="{{ url_for ('image', filename=item.img1_3)}}" alt="product-small-3">
                                    </a>
                                </div><!-- End .product-gallery -->
                            </div><!-- End #product-gallery-wrapper -->
                        </div><!-- End .product-gallery-container -->
                    </div><!-- End .col-md-5 -->

                    <div class="col-md-7">
                        <div class="product-details">
                            <h2 class="product-title">{{ item.title }}</h2>
                            <div class="product-cats"><a href="product.html#" title="Категория">{{ item.category }}
                            </a>, <a href="product.html#" title="Категория">Mi серия</a></div><!-- End .product-cats -->
                            <div class="product-price-container">
                                <span class="product-price">{{ item.price }} руб</span>
                            </div><!-- End .product-price-container -->
                            <div class="product-ratings-container">
                                <a href="" class="product-ratings add-tooltip" title="3.75 Average">
                                    <span class="ratings" style="width:75%" >
                                        <span class="ratings-text sr-only">81 Rating</span>
                                    </span><!-- End .ratings -->
                                </a><!-- End .product-ratings -->
                            </div><!-- End .product-ratings-container -->
                            <p>{{ item.description }}</p>

                            <div class="filter-size-container">
                                <label class="input-desc">Обьём внутреннего накопителя:</label>
                                <div class="row">
                                    <a href="product.html#" class="filter-size-box">64</a>
                                    <a href="product.html#" class="filter-size-box">128</a>
                                </div><!-- End .row -->
                            </div><!-- End .filter-size-container -->

                            <div class="filter-color-container">
                                <label class="input-desc">Цвет:</label>
                                <div class="row">
                                    <a href="#" data-bgcolor="#000000" class="filter-color-box"></a>
                                    <a href="#" data-bgcolor="#ffffff" class="filter-color-box"></a>
                                    <a href="#" data-bgcolor="#FFFACD" class="filter-color-box"></a>
                                </div><!-- End .row -->
                            </div><!-- End .filter-color-container -->

                            <div class="product-quantity-wrapper">
                                <div class="product-quantity">
                                    <label class="input-desc">Количество:</label>
                                    <input type="text" value="1" class="horizontal-spinner">
                                </div><!-- End .product-quantity -->
                            </div><!-- End .product-quantity-wrapper -->

                            <div class="product-action">
                                <a href="product.html#" class="btn btn-custom min-width add-to-cart no-radius" title="Add to Cart"><i class="fa fa-shopping-cart"></i>Добавить в корзину</a>
                                <a href="product.html#" class="btn btn-dark min-width no-radius" title="Add to Wishlist"><i class="fa fa-heart"></i>Не нажимай </a>
                            </div><!-- End .product-action -->


                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-7 -->

                </div><!-- End .row -->

                <div class="product-tab-section">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="product.html#description" aria-controls="description" role="tab" data-toggle="tab"><i class="fa fa-home"></i>Описание</a></li>
                        </ul>

                        <!-- Tab Panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="description">
                                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eius officia, beatae recusandae nobis accusantium deserunt cum voluptate eum soluta, sapiente tempora amet neque reprehenderit labore, iste suscipit. Placeat, voluptates.</span><span>Ipsa eius quaerat amet dolorum doloribus cum hic cupiditate laboriosam sit rerum cumque, blanditiis, tempore esse, vero accusantium repellendus a libero repellat iusto aliquam natus velit corrupti incidunt. Quo, tenetur.</span></p>
                                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, vero iure tempora dicta! Quidem iusto saepe, debitis dicta nisi eligendi nulla odit, quasi enim. Quasi voluptatibus, nobis laborum quaerat ipsum.</span></p>
                                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius beatae excepturi doloremque odit id possimus explicabo, nemo aliquid tenetur nisi mollitia aspernatur harum libero, eum aperiam voluptates minima. Architecto, eveniet.</span><span>Vitae, impedit aspernatur vel deleniti suscipit rem corporis dignissimos consequatur commodi sapiente, aliquid, reprehenderit architecto beatae. Numquam dolorum quod iusto, facere eaque accusamus dignissimos veritatis fugiat eum magni soluta rem.</span></p>
                            </div><!-- End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- end role[tabpanel] -->
                </div><!-- End .product-tab-section -->

                <div class="mb50"></div><!-- space -->

                <h3 class="title-underblock custom mb80 text-center">Популярные товары</h3>
                <div class="owl-carousel related-products-carousel center-top-nav gray-nav">
                    <div class="product text-center">
                        <div class="product-top">
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product6.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product6-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-old-price">$125.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->

                    <div class="product text-center">
                        <div class="product-top">
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product3.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product3-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-old-price">$200.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->

                    <div class="product text-center">
                        <div class="product-top">
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product7.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product7-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-old-price">$125.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->

                    <div class="product text-center">
                        <div class="product-top">
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product4.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product4-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-old-price">$125.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->

                    <div class="product text-center">
                        <div class="product-top">
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product2.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product2-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-price">$49.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->
                    <div class="product text-center">
                        <div class="product-top">
                            <span class="product-box new-box new-box-border">New</span>
                            <figure>
                                <a href="product.html" title="Product Name">
                                    <img src="{{ url_for ('static', filename='images/products/product1.jpg')}}" alt="Product image" class="product-image">
                                    <img src="{{ url_for ('static', filename='images/products/product1-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-action-container product-action-animate">
                                <a href="product.html#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                <a href="product.html#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                <a href="product.html#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                            </div><!-- end .product-action-container -->
                        </div><!-- End .product-top -->
                        <h3 class="product-title"><a href="product.html" title="Product Title">Clear - New Season Shirt</a></h3>
                        <div class="ratings-container">
                            <a href="product.html#" class="product-ratings add-tooltip" title="3.75 Average">
                                <span class="ratings" style="width:75%" >
                                    <span class="ratings-text sr-only">81 Rating</span>
                                </span><!-- End .ratings -->
                            </a><!-- End .product-ratings -->
                        </div><!-- End .ratings-container -->
                        <div class="product-price-container">
                            <span class="product-old-price">$125.99</span>
                        </div><!-- End .product-price-container -->

                        <a href="product.html#" class="btn btn-custom add-to-cart">Add to Cart</a>
                    </div><!-- End .product -->
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
            <div class="mb20 hidden-xs hidden-sm"></div><!-- space -->

        </div><!-- End #content -->

{% endblock %}