{% extends "base.html" %}
{% macro card_item(item) %}
    <div class="col-sm-4">
        <div class="product text-center">
            <div class="product-top">
                <figure>
                    <a href="{{ url_for('product_view', oid=item.id) }}" title={{ item.title }}>
                        <img src="{{ url_for ('image', filename=item.img_url_1)}}" alt="Product image" class="product-image">
                        <img src="{{ url_for ('image', filename=item.img_url_2)}}" alt="Product image" class="product-image-hover">
                    </a>
                </figure>
            </div><!-- End .product-top -->
            <h3 class="product-title"><a href="product.html" title="Product Title">{{ item.title }}</a></h3>
            <div class="ratings-container">
                <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                    <span class="ratings" style="width:75%" >
                        <span class="ratings-text sr-only">81 Rating</span>
                    </span><!-- End .ratings -->
                </a><!-- End .product-ratings -->
            </div><!-- End .ratings-container -->
            <div class="product-price-container">
                <span class="product-price">{{ item.price }} руб</span>
            </div><!-- End .product-price-container -->

            <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
        </div><!-- End .product -->
    </div><!-- End .col-sm-43 -->
{% endmacro %}

{% block content %}
    <br>
        <div id="content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">

                        {% for chunk in chunks(phones, 3) %}
                            <div class="row">
                                {% for item in chunk %}
                                    {{ card_item(item) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                </div><!-- End .col-md-9 -->
                    <aside class="col-md-3 col-md-pull-9 sidebar">

                        <div class="widget">
                            <h3>Категории</h3>
                            <ul id="category-widget" class="text-center">
                                <li class="open"><a href="">Модель: <span class="category-widget-btn"></span></a>
                                <ul id="portfolio-filter">
                                    <li><a href="#" data-filter=".mi5">Mi5</a></li>
                                    <li><a href="#" data-filter=".mi5s">Mi5s</a></li>
                                    <li><a href="#" data-filter=".redmi4">Redmi 4</a></li>
                                    <li><a href="#" data-filter=".mi6">Mi6</a></li>
                                </ul>
                            </ul>
                        </div><!-- End .widget -->
                    </aside>

                </div><!-- End .row -->

            </div><!-- End .container -->

            <div class="mb40 hidden-xs hidden-sm"></div><!-- space -->

        </div><!-- End #content -->
{% endblock %}