{% extends "base.html" %}

{% block content %}
    <br>
        <div id="content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi mi5 Чёрный">
                                            <img src="{{ url_for ('static', filename='images/products/product1.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product1-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5 Чёрный</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi mi5 Белый">
                                            <img src="{{ url_for ('static', filename='images/products/product2.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product2-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5 Белый</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-md-3 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Mi5 Золотой">
                                            <img src="{{ url_for ('static', filename='images/products/product3.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product3-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5 Золотой</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-price">$122.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Mi 5s Чёрный">
                                            <img src="{{ url_for ('static', filename='images/products/product4.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product4-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Mi 5s Чёрный</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-43 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Mi 5s Белый">
                                            <img src="{{ url_for ('static', filename='images/products/product5.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product5-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Mi 5s Белый</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Mi 5s Золотой">
                                            <img src="{{ url_for ('static', filename='images/products/product6.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product6-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Mi 5s Золотой</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-price">$122.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi mi5s Плюс Чёрный">
                                            <img src="{{ url_for ('static', filename='images/products/product7.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product7-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5s Плюс Чёрный</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi mi5s Плюс Белый">
                                            <img src="{{ url_for ('static', filename='images/products/product8.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product8-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5s Плюс Белый</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi mi5s Плюс Золотой">
                                            <img src="{{ url_for ('static', filename='images/products/product9.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product9-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi mi5s Плюс Золотой</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-price">$122.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Redmi 4 Pro Чёрный">
                                            <img src="{{ url_for ('static', filename='images/products/product10.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product10-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Redmi 4 Pro Чёрный</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-43 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Redmi 4 Pro Белый">
                                            <img src="{{ url_for ('static', filename='images/products/product11.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product11-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Redmi 4 Pro Белый</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-old-price">$125.99</span>
                                    <span class="product-price">$49.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-4">
                            <div class="product text-center">
                                <div class="product-top">
                                    <figure>
                                        <a href="product.html" title="Xiaomi Redmi 4 Pro Золотой">
                                            <img src="{{ url_for ('static', filename='images/products/product12.jpg')}}" alt="Product image" class="product-image">
                                            <img src="{{ url_for ('static', filename='images/products/product12-hover.jpg')}}" alt="Product image" class="product-image-hover">
                                        </a>
                                    </figure>
                                    <div class="product-action-container each-btn-animate">
                                        <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

                                        <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

                                        <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                    </div><!-- end .product-action-container -->
                                </div><!-- End .product-top -->
                                <h3 class="product-title"><a href="product.html" title="Product Title">Xiaomi Redmi 4 Pro Золотой</a></h3>
                                <div class="ratings-container">
                                    <a href="#" class="product-ratings add-tooltip" title="3.75 Average">
                                        <span class="ratings" style="width:75%" >
                                            <span class="ratings-text sr-only">81 Rating</span>
                                        </span><!-- End .ratings -->
                                    </a><!-- End .product-ratings -->
                                </div><!-- End .ratings-container -->
                                <div class="product-price-container">
                                    <span class="product-price">$122.99</span>
                                </div><!-- End .product-price-container -->

                                <a href="#" class="btn btn-custom add-to-cart">Добавить в корзину</a>
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->

                    <div class="mb30"></div><!-- space -->

                    <nav class="pagination-container">
                        <ul class="pagination">
                            <li>
                                <a href="category-left-sidebar.html#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                </a>
                            </li>
                            <li  class="active"><a href="category-left-sidebar.html#">1</a></li>
                            <li><a href="category-left-sidebar.html#">2</a></li>
                            <li><a href="category-left-sidebar.html#">3</a></li>
                            <li><a href="category-left-sidebar.html#">4</a></li>
                            <li><a href="category-left-sidebar.html#">5</a></li>
                            <li>
                                <a href="category-left-sidebar.html#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-md-9 -->

                <div class="mb30 visible-sm visible-xs"></div><!-- space -->

                    <aside class="col-md-3 col-md-pull-9 sidebar">

                        <div class="widget">
                            <h3>Категории</h3>

                            <ul id="category-widget">
                                <li class="open"><a href="#">Серия <span class="category-widget-btn"></span></a>
                                    <ul>
                                        <li><a href="category-left-sidebar.html#"><i class="fa fa-angle-right"></i>Redmi</a></li>
                                        <li><a href="category-left-sidebar.html#"><i class="fa fa-angle-right"></i>Mi</a></li>
                                        <li><a href="category-left-sidebar.html#"><i class="fa fa-angle-right"></i>Pro</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- End .widget -->
                    </aside>
                </div><!-- End .row -->

            </div><!-- End .container -->

            <div class="mb40 hidden-xs hidden-sm"></div><!-- space -->

        </div><!-- End #content -->
{% endblock %}